## Overview

### Importing Processed Data as DataFrames

### Loading NUTS Boundaries
- The code loads NUTS boundaries data from a shapefile located at "/gb_pv_capacity_model/data/nuts.shp.zip". If the file is not available locally, it is downloaded.
- It filters the loaded data to retain only NUTS level 2 regions.
- Columns 'NUTS_ID', 'CNTR_CODE', and 'NAME_LATN' are selected from the filtered data and renamed as 'nuts_cd', 'country_cd', and 'nuts_name' respectively.

### Creating Region-Year DataFrame
- A DataFrame named `nuts3` is created by calling the function `create_region_year_df()` with the start year '2010', end year '2023', and the NUTS level 3 regions DataFrame.
- This DataFrame will serve as the base DataFrame (`df0`) for left merging other DataFrames.

### Merging NUTS3 Regions DataFrames
- Various DataFrames containing data related to NUTS3 regions are combined into a list named `nuts3_dataframes`.
- The function `merge_dataframes_by_region_and_year()` is called to merge these DataFrames based on the 'nuts_cd' column.

### Merging National-Level DataFrames
- Another list named `nuts0_dataframes` is created, consisting of `nuts3_data`, national capacity data (`nuts0_capacity`), and other national-level datasets.
- These DataFrames are merged based on the 'country_cd' column using `merge_dataframes_by_region_and_year()`.

### Saving to CSV
- The final merged DataFrame `nuts_data` is saved to a CSV file named 'merged_nuts3_data.csv'.

In [1]:
import pandas as pd
import os
import sys
sys.path.append('../')
from data_processing import load_nuts_boundaries, create_region_year_df, save_data, merge_dataframes_by_region_and_year

In [2]:

# Define the directory containing the processed data files
data_dir = "/gb_pv_capacity_model/data/20241127/processed"

# List all files in the directory
files = os.listdir(data_dir)

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through each file in the directory
for file in files:
    # Check if the file is a CSV file
    if file.endswith(".csv"):
        # Read the CSV file into a DataFrame and store it in the dictionary
        # Use the file name (without the extension) as the key
        dfs[file[:-4]] = pd.read_csv(os.path.join(data_dir, file))

# Extract the DataFrames
clc = dfs["clc_nuts3"]
GHI = dfs["GHI_nuts3"]
TP = dfs["TP_nuts3"]
MSL = dfs["MSL_nuts3"]
TA = dfs["TA_nuts3"]
WS = dfs["WS_nuts3"]
clc_national = dfs["clc_nuts0"]

In [3]:

# Define the directory containing the processed data files
data_dir = "/gb_pv_capacity_model/data/20241211/processed"

# List all files in the directory
files = os.listdir(data_dir)

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through each file in the directory
for file in files:
    # Check if the file is a CSV file
    if file.endswith(".csv"):
        # Read the CSV file into a DataFrame and store it in the dictionary
        # Use the file name (without the extension) as the key
        dfs[file[:-4]] = pd.read_csv(os.path.join(data_dir, file))

# Extract the DataFrames
nuts3_capacity = dfs["nuts3_capacity"]
nuts0_capacity = dfs["nuts0_capacity"]

In [4]:

# Define the directory containing the processed data files
data_dir = "/gb_pv_capacity_model/data/20241205/processed"

# List all files in the directory
files = os.listdir(data_dir)

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through each file in the directory
for file in files:
    # Check if the file is a CSV file
    if file.endswith(".csv"):
        # Read the CSV file into a DataFrame and store it in the dictionary
        # Use the file name (without the extension) as the key
        dfs[file[:-4]] = pd.read_csv(os.path.join(data_dir, file))

# Extract the DataFrames 
roc = dfs["roc"]

In [5]:
# Define the directory containing the processed data files
data_dir = "/gb_pv_capacity_model/data/20241128/processed/gva"

# List all files in the directory
files = os.listdir(data_dir)

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through each file in the directory
for file in files:
    # Check if the file is a CSV file
    if file.endswith(".csv"):
        # Read the CSV file into a DataFrame and store it in the dictionary
        # Use the file name (without the extension) as the key
        dfs[file[:-4]] = pd.read_csv(os.path.join(data_dir, file))

# Extract the DataFrames you need
gva_total = dfs["Total"]
gva_a_e = dfs["A_E"]
gva_ab_1_9 = dfs["AB_1_9"]
gva_c_10_33 = dfs["C_10_33"]
gva_ca_10_12 = dfs["CA_10_12"]
gva_cb_13_15 = dfs["CB_13_15"]
gva_cc_16_18 = dfs["CC_16_18"]
gva_cd_cg_19_23 = dfs["CD_CG_19_23"]
gva_ch_24_25 = dfs["CH_24_25"]
gva_ci_cj_26_27 = dfs["CI_CJ_26_27"]
gva_ck_cl_28_30 = dfs["CK_CL_28_30"]
gva_cm_31_33 = dfs["CM_31_33"]
gva_de_35_39 = dfs["DE_35_39"]
gva_f_41_43 = dfs["F_41_43"]
gva_41 = dfs["41"]
gva_42 = dfs["42"]
gva_43 = dfs["43"]
gva_g_t = dfs["G_T"]
gva_g_45_47 = dfs["G_45_47"]
gva_45 = dfs["45"]
gva_46 = dfs["46"]
gva_47 = dfs["47"]
gva_h_49_53 = dfs["H_49_53"]
gva_49_51 = dfs["49_51"]
gva_52 = dfs["52"]
gva_53 = dfs["53"]
gva_i_55_56 = dfs["I_55_56"]
gva_55 = dfs["55"]
gva_56 = dfs["56"]
gva_j_58_63 = dfs["J_58_63"]
gva_58_60 = dfs["58_60"]
gva_61_63 = dfs["61_63"]
gva_k_64_66 = dfs["K_64_66"]
gva_64 = dfs["64"]
gva_65_66 = dfs["65_66"]
gva_l_68 = dfs["L_68"]
gva_68imp = dfs["68IMP"]
gva_68 = dfs["68"]
gva_m_69_75 = dfs["M_69_75"]
gva_69 = dfs["69"]
gva_70 = dfs["70"]
gva_71 = dfs["71"]
gva_72_73 = dfs["72_73"]
gva_74 = dfs["74"]
gva_75 = dfs["75"]
gva_n_77_82 = dfs["N_77_82"]
gva_77 = dfs["77"]
gva_78_80 = dfs["78_80"]
gva_81 = dfs["81"]
gva_82 = dfs["82"]
gva_o_84 = dfs["O_84"]
gva_p_85 = dfs["P_85"]
gva_q_86_88 = dfs["Q_86_88"]
gva_86 = dfs["86"]
gva_87 = dfs["87"]
gva_88 = dfs["88"]
gva_r_90_93 = dfs["R_90_93"]
gva_90_91 = dfs["90_91"]
gva_92_93 = dfs["92_93"]
gva_s_94_96 = dfs["S_94_96"]
gva_94 = dfs["94"]
gva_95 = dfs["95"]
gva_96 = dfs["96"]
gva_t_97_98 = dfs["T_97_98"]

In [6]:
nuts = load_nuts_boundaries("/gb_pv_capacity_model/data/nuts.shp.zip", download=True)
nuts

,NUTS_ID,LEVL_CODE,CNTR_CODE,NAME_LATN,NUTS_NAME,MOUNT_TYPE,URBN_TYPE,COAST_TYPE,geometry
0,AL,0,AL,Shqipëria,Shqipëria,0.0,0,0,"MULTIPOLYGON (((19.75628 42.63384, 19.75005 42..."
1,CZ,0,CZ,Česko,Česko,0.0,0,0,"POLYGON ((14.33499 51.04007, 14.34494 51.03908..."
2,DE,0,DE,Deutschland,Deutschland,0.0,0,0,"MULTIPOLYGON (((10.45444 47.5558, 10.43954 47...."
3,DK,0,DK,Danmark,Danmark,0.0,0,0,"MULTIPOLYGON (((15.19309 55.32015, 15.19056 55..."
4,CY,0,CY,Kýpros,Κύπρος,0.0,0,0,"MULTIPOLYGON (((34.60609 35.70767, 34.6006 35...."
...,...,...,...,...,...,...,...,...,...
2005,NO0B1,3,NO,Jan Mayen,Jan Mayen,3.0,3,1,"POLYGON ((-9.08295 70.86469, -9.07843 70.86831..."
2006,EE009,3,EE,Kesk-Eesti,Kesk-Eesti,4.0,3,1,"MULTIPOLYGON (((25.98343 59.62115, 25.99837 59..."
2007,NO0,1,NO,Norge,Norge,0.0,0,0,"MULTIPOLYGON (((33.09131 80.24908, 33.09929 80..."
2008,NO0B,2,NO,Jan Mayen and Svalbard,Jan Mayen and Svalbard,NaN,0,0,"MULTIPOLYGON (((31.83002 80.07989, 31.85352 80..."
2009,NO0B2,3,NO,Svalbard,Svalbard,3.0,3,1,"MULTIPOLYGON (((33.09131 80.24908, 33.09929 80..."

In [7]:
nuts3_regions = nuts[(nuts['LEVL_CODE'] == 3) & (nuts['CNTR_CODE'] == "UK")]
nuts3_regions = nuts3_regions[['NUTS_ID', 'CNTR_CODE', 'NAME_LATN']]
nuts3_regions.rename(columns={'NUTS_ID': 'nuts_cd', 'CNTR_CODE': 'country_cd', 'NAME_LATN': 'nuts_name'}, inplace=True)
# Filter out rows where nuts_cd starts with 'UKN' which are northern ireland regions 
nuts3_regions = nuts3_regions[~nuts3_regions['nuts_cd'].str.startswith('UKN')]
nuts3_regions

     nuts_cd country_cd                           nuts_name
1417   UKM92         UK                 Dumfries & Galloway
1574   UKK13         UK                     Gloucestershire
1575   UKK14         UK                             Swindon
1576   UKL22         UK       Cardiff and Vale of Glamorgan
1577   UKF14         UK                          Nottingham
...      ...        ...                                 ...
1998   UKI75         UK   Hounslow and Richmond upon Thames
1999   UKJ43         UK                 Kent Thames Gateway
2001   UKM64         UK  Na h-Eileanan Siar (Western Isles)
2002   UKG37         UK                            Sandwell
2004   UKM77         UK        Perth & Kinross and Stirling

[168 rows x 3 columns]

In [8]:
nuts3 = create_region_year_df('2010', '2023', nuts3_regions)
nuts3

     nuts_cd country_cd                     nuts_name  year       date
0      UKM92         UK           Dumfries & Galloway  2010 2010-12-31
1      UKM92         UK           Dumfries & Galloway  2011 2011-12-31
2      UKM92         UK           Dumfries & Galloway  2012 2012-12-31
3      UKM92         UK           Dumfries & Galloway  2013 2013-12-31
4      UKM92         UK           Dumfries & Galloway  2014 2014-12-31
...      ...        ...                           ...   ...        ...
2347   UKM77         UK  Perth & Kinross and Stirling  2019 2019-12-31
2348   UKM77         UK  Perth & Kinross and Stirling  2020 2020-12-31
2349   UKM77         UK  Perth & Kinross and Stirling  2021 2021-12-31
2350   UKM77         UK  Perth & Kinross and Stirling  2022 2022-12-31
2351   UKM77         UK  Perth & Kinross and Stirling  2023 2023-12-31

[2352 rows x 5 columns]

In [9]:
# nuts3_dataframes = [nuts3, nuts3_capacity, clc, GHI, TP, MSL, TA, WS, gva_total]
nuts3_dataframes = [
    nuts3, nuts3_capacity, clc, GHI, TP, MSL, TA, WS, 
    gva_total, gva_a_e, gva_ab_1_9, gva_c_10_33, gva_ca_10_12, 
    gva_cb_13_15, gva_cc_16_18, gva_cd_cg_19_23, gva_ch_24_25, 
    gva_ci_cj_26_27, gva_ck_cl_28_30, gva_cm_31_33, gva_de_35_39, 
    gva_f_41_43, gva_41, gva_42, gva_43, gva_g_t, gva_g_45_47, 
    gva_45, gva_46, gva_47, gva_h_49_53, gva_49_51, gva_52, 
    gva_53, gva_i_55_56, gva_55, gva_56, gva_j_58_63, gva_58_60, 
    gva_61_63, gva_k_64_66, gva_64, gva_65_66, gva_l_68, gva_68imp, 
    gva_68, gva_m_69_75, gva_69, gva_70, gva_71, gva_72_73, gva_74, 
    gva_75, gva_n_77_82, gva_77, gva_78_80, gva_81, gva_82, 
    gva_o_84, gva_p_85, gva_q_86_88, gva_86, gva_87, gva_88, 
    gva_r_90_93, gva_90_91, gva_92_93, gva_s_94_96, gva_94, 
    gva_95, gva_96, gva_t_97_98
]

In [10]:
# merge nuts3 regions
# column to merge on is nuts_cd
nuts3_data = merge_dataframes_by_region_and_year(nuts3_dataframes, region='nuts_cd')

In [11]:
nuts3_data

,nuts_cd,country_cd,nuts_name,year,date,capacity_mwp,111,112,121,122,...,gva_pounds_million_87,gva_pounds_million_88,gva_pounds_million_R_90_93,gva_pounds_million_90_91,gva_pounds_million_92_93,gva_pounds_million_S_94_96,gva_pounds_million_94,gva_pounds_million_95,gva_pounds_million_96,gva_pounds_million_T_97_98
0,UKM92,UK,Dumfries & Galloway,2010,2010-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,37.0,69.0,26.0,5.0,20.0,29.0,4.0,2.0,24.0,2.0
1,UKM92,UK,Dumfries & Galloway,2011,2011-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,46.0,70.0,29.0,5.0,24.0,29.0,3.0,2.0,24.0,1.0
2,UKM92,UK,Dumfries & Galloway,2012,2012-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,49.0,86.0,29.0,5.0,24.0,29.0,2.0,2.0,25.0,2.0
3,UKM92,UK,Dumfries & Galloway,2013,2013-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,50.0,95.0,30.0,5.0,26.0,30.0,2.0,2.0,27.0,1.0
4,UKM92,UK,Dumfries & Galloway,2014,2014-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,56.0,101.0,29.0,4.0,25.0,34.0,2.0,1.0,31.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2347,UKM77,UK,Perth & Kinross and Stirling,2019,2019-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,117.0,80.0,74.0,32.0,42.0,122.0,9.0,4.0,109.0,10.0
2348,UKM77,UK,Perth & Kinross and Stirling,2020,2020-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,144.0,78.0,68.0,40.0,28.0,82.0,7.0,6.0,69.0,7.0
2349,UKM77,UK,Perth & Kinross and Stirling,2021,2021-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,132.0,96.0,62.0,39.0,23.0,74.0,12.0,4.0,59.0,6.0
2350,UKM77,UK,Perth & Kinross and Stirling,2022,2022-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,120.0,102.0,74.0,44.0,30.0,84.0,8.0,4.0,72.0,5.0
2351,UKM77,UK,Perth & Kinross and Stirling,2023,2023-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# selecting country area since other land classifications are not needed
clc_national=clc_national[['country_cd', 'country_area']]
clc_national

  country_cd  country_area
0         UK  2.445450e+11

In [13]:
nuts0_dataframes = [nuts3_data, nuts0_capacity, roc, clc_national]

In [14]:
# merge nuts0 regions with the output of the nuts2 regions
# column to merge on is country_cd
nuts_data = merge_dataframes_by_region_and_year(nuts0_dataframes, region='country_cd')

In [15]:
nuts_data

,nuts_cd,country_cd,nuts_name,year,date,capacity_mwp,111,112,121,122,...,gva_pounds_million_92_93,gva_pounds_million_S_94_96,gva_pounds_million_94,gva_pounds_million_95,gva_pounds_million_96,gva_pounds_million_T_97_98,national_capacity_mwp,ROC Buy-out Price (£),Obligation For England and Wales and Scotland (ROCs/MWh),country_area
0,UKM92,UK,Dumfries & Galloway,2010,2010-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,20.0,29.0,4.0,2.0,24.0,2.0,79.786102,36.99,0.111,2.445450e+11
1,UKM92,UK,Dumfries & Galloway,2011,2011-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,24.0,29.0,3.0,2.0,24.0,1.0,993.631467,38.69,0.124,2.445450e+11
2,UKM92,UK,Dumfries & Galloway,2012,2012-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,24.0,29.0,2.0,2.0,25.0,2.0,1778.962003,40.71,0.158,2.445450e+11
3,UKM92,UK,Dumfries & Galloway,2013,2013-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,26.0,30.0,2.0,2.0,27.0,1.0,2891.717265,42.02,0.206,2.445450e+11
4,UKM92,UK,Dumfries & Galloway,2014,2014-12-31,0.0,9.162842e+05,4.642536e+07,4.573867e+07,8.969180e+06,...,25.0,34.0,2.0,1.0,31.0,2.0,5364.097718,43.30,0.244,2.445450e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2347,UKM77,UK,Perth & Kinross and Stirling,2019,2019-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,42.0,122.0,9.0,4.0,109.0,10.0,13024.980325,48.78,0.484,2.445450e+11
2348,UKM77,UK,Perth & Kinross and Stirling,2020,2020-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,28.0,82.0,7.0,6.0,69.0,7.0,13421.966133,50.05,0.471,2.445450e+11
2349,UKM77,UK,Perth & Kinross and Stirling,2021,2021-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,23.0,74.0,12.0,4.0,59.0,6.0,13967.189838,50.80,0.492,2.445450e+11
2350,UKM77,UK,Perth & Kinross and Stirling,2022,2022-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,30.0,84.0,8.0,4.0,72.0,5.0,14995.536818,52.88,0.491,2.445450e+11
2351,UKM77,UK,Perth & Kinross and Stirling,2023,2023-12-31,0.0,1.193739e+06,7.178620e+07,2.105407e+07,4.023966e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,16750.745028,59.01,0.469,2.445450e+11

In [16]:
# save to csv
save_data({'merged_nuts3_data': nuts_data}, date='20241127')